@model string

<!DOCTYPE html>

<html>
<head>
    <title>Url does not exist</title>
</head>
<body>
<div>
    <h1>Unknown url...</h1>
    @DateTime.Now.ToString("yyyy'-'MM'-'dd HH':'mm':'ss")
</div>
</body>
</html>